openapi: 3.0.1
info:
  title: Cloudbeds API
  description: "<p>\n    Welcome to the documentation for <strong>Cloudbeds API Version\
    \ v1.3</strong>!\n    If you are looking to learn how to use the Cloudbeds API\
    \ to access guest information, reservations, or similar data\n    for your Cloudbeds\
    \ customers, then you've come to the right place.\n</p>\n\n<p>\n    In this document\
    \ you will find all the API methods we provide along with explanations for parameters\
    \ and response\n    examples.\n</p>\n\n<p>\n    If you have questions about different\
    \ implementation steps (e.g. how to implement OAuth 2.0), please refer to our\n\
    \    <a href=\"https://integrations.cloudbeds.com/hc/en-us\">Integrations Portal</a>.\n\
    </p>\n\n<p>\n    Be sure to <a href=\"https://go.pardot.com/l/308041/2018-07-24/qb2lg\"\
    >subscribe</a> to the monthly\n    Cloudbeds API announcement mailing list to\
    \ receive information on new additions and improvements to the\n    Cloudbeds\
    \ API and related developer tools.\n</p>\n\n<p>\n    <strong>Endpoint:</strong>\
    \ https://api.cloudbeds.com/api/v1.3/{method}\n</p>\n\n<p>\n    <strong>HTTPS:</strong>\
    \ Our API requires HTTPS. We'll respond with an appropriate error if you're not\
    \ using it.\n</p>\n\n<p>\n    <strong>Request Format:</strong> HTTP GET, POST\
    \ and PUT (Content-Type: application/x-www-form-urlencoded)\n</p>\n\n<p>\n   \
    \ <strong>Response Format:</strong> JSON\n</p>\n\n<p>\n    <strong>Response Header:</strong>\
    \ X-Request-ID is added to response headers in all calls to help accelerate support\n\
    \    and troubleshooting.\n</p>\n\n<p>\n    <strong>\n        <a href=\"https://integrations.cloudbeds.com/hc/en-us/articles/14104678058267-API-Documentation#postman-collection\"\
    >\n            <img src=\"https://run.pstmn.io/button.svg\" alt=\"Run in Postman\"\
    >\n        </a>\n    </strong> use this link to access our Public collection in\
    \ Postman.\n</p>"
  version: v1.3
  x-display-name: Cloudbeds
  x-website: https://www.cloudbeds.com/
servers:
- url: https://api.cloudbeds.com/api/v1.3/
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
      x-auth-env-vars:
      - CLOUDBEDS_API_KEY
      description: 'Cloudbeds API key (cbat_... format). Send as x-api-key or Authorization:
        Bearer cbat_...'
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: ''
          tokenUrl: ''
          scopes:
            delete:adjustment: delete:adjustment
            delete:appPropertySettings: delete:appPropertySettings
            delete:roomblock: delete:roomblock
            read:allotmentBlock: read:allotmentBlock
            read:appPropertySettings: read:appPropertySettings
            read:communication: read:communication
            read:currency: read:currency
            read:customFields: read:customFields
            read:dashboard: read:dashboard
            read:group: read:group
            read:guest: read:guest
            read:hotel: read:hotel
            read:houseAccount: read:houseAccount
            read:housekeeping: read:housekeeping
            read:item: read:item
            read:package: read:package
            read:payment: read:payment
            read:rate: read:rate
            read:reservation: read:reservation
            read:room: read:room
            read:roomblock: read:roomblock
            read:taxesAndFees: read:taxesAndFees
            read:user: read:user
            write:adjustment: write:adjustment
            write:allotmentBlock: write:allotmentBlock
            write:appError: write:appError
            write:appPropertySettings: write:appPropertySettings
            write:communication: write:communication
            write:customFields: write:customFields
            write:group: write:group
            write:guest: write:guest
            write:hotel: write:hotel
            write:houseAccount: write:houseAccount
            write:housekeeping: write:housekeeping
            write:item: write:item
            write:payment: write:payment
            write:rate: write:rate
            write:reservation: write:reservation
            write:room: write:room
            write:roomblock: write:roomblock
  schemas:
    GetMetadataResponse:
      type: object
      properties:
        success:
          description: True if property can be found
          type: string
        data:
          description: ''
          type: object
          properties:
            api:
              description: The api details
              type: object
              properties:
                url:
                  description: The API URL for the given property
                  type: string
        message:
          description: To be used in case any error occurs (if success = false). If
            success = true, it does not exist.
          type: string
          nullable: true
    PostAccessTokenRequest:
      type: object
      properties:
        grant_type:
          description: The OAuth2 grant type.
          type: string
          enum:
          - authorization_code
          - refresh_token
          - urn:ietf:params:oauth:grant-type:api-key
          nullable: true
        client_id:
          description: The client identifier. Each client must be provisioned an identifier.
          type: string
          nullable: true
        client_secret:
          description: The client secret. Each client must be provisioned a secret.
          type: string
          nullable: true
        redirect_uri:
          description: The client pre-configured redirect URI. (Required for grant
            type 'authorization_code' and 'urn:ietf:params:oauth:grant-type:api-key').
          type: string
          nullable: true
        code:
          description: An authorization code provisioned by /oauth (Required for grant
            type 'authorization_code' and 'urn:ietf:params:oauth:grant-type:api-key').
          type: string
          nullable: true
        refresh_token:
          description: A refresh token to renew an access_token (Required for grant
            type 'refresh_token' only).
          type: string
          nullable: true
    PostAccessTokenResponse:
      type: object
      properties:
        access_token:
          description: Authenticated access token.
          type: string
        token_type:
          description: The type of the access token authenticated.
          type: string
        expires_in:
          description: The expiration time of the access token in seconds.
          type: integer
        refresh_token:
          description: A token to refresh your access token without performing the
            full auth flow.
          type: string
        resources:
          description: List of resources associated with the token during consent
          type: array
          items:
            type: object
            properties:
              type:
                description: A type of associated resource
                type: string
                enum:
                - property
                - association
              id:
                description: Unique ID of associated resource
                type: string
    GetUserinfoResponse:
      type: object
      properties:
        user_id:
          description: ID of user
          type: string
        first_name:
          description: Authorized users' first name.
          type: string
        last_name:
          description: Authorized users' last name.
          type: string
        email:
          description: Authorized users' email.
          type: string
        acl:
          description: Authorized users' access control list.
          type: array
          items:
            type: string
          nullable: true
        roles:
          description: Authorized users' role information.
          type: array
          items:
            type: object
            properties:
              id:
                description: ID of the role.
                type: string
                nullable: true
              name:
                description: Name of the role.
                type: string
                nullable: true
              description:
                description: Description of the role.
                type: string
                nullable: true
          nullable: true
    DeleteAdjustmentResponse:
      type: object
      properties:
        success:
          description: Returns if the request could be completed
          type: boolean
        message:
          description: To be used in case any error occurs (if success = false). If
            success = true, it does not exist.
          type: string
          nullable: true
    PostAdjustmentRequest:
      type: object
      properties:
        propertyID:
          description: Property ID
          type: string
          nullable: true
        reservationID:
          description: Reservation identifier
          type: string
        type:
          description: Apply Adjustment to
          type: string
          enum:
          - rate
          - product
          - fee
          - tax
        amount:
          description: Adjustment amount
          type: number
        notes:
          description: Adjustment notes
          type: string
          nullable: true
        itemID:
          description: 'Apply Adjustment to. Identifier for: product, tax, fee. Not
            for rate'
          type: string
          nullable: true
    PostAdjustmentResponse:
      type: object
      properties:
        success:
          description: Returns if the request could be completed
          type: boolean
        data:
          description: post Adjustment details
          type: object
          properties:
            adjustmentID:
              description: Adjustment transaction identifier
              type: string
        message:
          description: To be used in case any error occurs (if success = false). If
            success = true, it does not exist.
          type: string
          nullable: true
    PostCreateAllotmentBlockRequest:
      type: object
      properties:
        groupCode:
          description: The unique identifier of the group profile the allotment block
            should be created
          type: string
        eventCode:
          description: The unique identifier of the event the allotment block should
            be created
          type: string
        allotmentBlockName:
          description: The name for the allotment block
          type: string
        rateType:
          description: The rate type for the associated intervals
          type: string
          enum:
          - base_rate
          - rate_plan
          - custom
        ratePlanId:
          description: The rate plan ID. Required if rateType is "rate_plan".
          type: string
          nullable: true
        allotmentType:
          description: The allotment type
          type: string
          enum:
          - allotment
          - based_on_availability
        allotmentBlockStatus:
          description: The status for the allotment block under
          type: string
          enum:
          - definite
          - tentative
          - lead
        allowOverbooking:
          description: If false, or omitted, then this command will fail if it would
            result in an overbooking.  If true, then the update will succeed even
            if it results in an overbooking.
          type: boolean
          nullable: true
        autoRelease:
          description: Optional auto-release configuration
          type: object
          properties:
            releaseType:
              description: The type of auto-release
              type: string
              enum:
              - all_dates
              - by_day
              - by_interval
              nullable: true
            releaseDays:
              description: The number of days prior to the end of the allotment block
                to begin releasing dates from the allotment block
              type: integer
              nullable: true
            releaseTime:
              description: The hour to being the auto-release in HH:00 format, e.g.
                '00:00', '01:00'...
              type: string
              nullable: true
          nullable: true
        allotmentIntervals:
          description: The day-based data for the allotment block.
          type: array
          items:
            type: object
            properties:
              policyId:
                description: Policy ID to associate with the interval
                type: string
                nullable: true
              availability:
                description: ''
                type: array
                items:
                  type: object
                  properties:
                    date:
                      description: the day within the interval (YYYY-MM-DD)
                      type: string
                      format: date
                    blockAllotted:
                      description: 'Total number of units available for the room type
                        for this day. Note: this value is ignored for based_on_availability
                        allotment types, which always use full property availability.'
                      type: integer
                    rate:
                      description: the price if applicable
                      type: string
                      nullable: true
                    guestPricing:
                      description: 'Guest pricing data if applicable. Note: the number
                        of applicable keys varies here based on the occupancy settings
                        for the room type.'
                      type: object
                      properties:
                        adult1:
                          description: Price for adult 1
                          type: string
                          nullable: true
                        adult2:
                          description: Price for adult 2
                          type: string
                          nullable: true
                        adult3:
                          description: Price for adult 3
                          type: string
                          nullable: true
                        child1:
                          description: Price for child 1
                          type: string
                          nullable: true
                        child2:
                          description: Price for child 2
                          type: string
                          nullable: true
                        child3:
                          description: Price for child 3
                          type: string
                          nullable: true
                      nullable: true
                    restrictions:
                      description: Interval restrictions if applicable
                      type: object
                      properties:
                        minLos:
                          description: Minimum length of stay requirement
                          type: integer
                          nullable: true
                        maxLos:
                          description: Maximum length of stay requirement
                          type: integer
                          nullable: true
                        cutOffDays:
                          description: How many days before arrival should guests
                            be required to book
                          type: integer
                          nullable: true
                        lastMinuteBookingDays:
                          description: How many days before the arrival guests are
                            allowed to book
                          type: integer
                          nullable: true
                        closedToArrival:
                          description: If the interval dates are closed for arrival
                          type: integer
                          nullable: true
                        closedToDeparture:
                          description: If the interval dates are closed for departure
                          type: integer
                          nullable: true
                      nullable: true
                    rooms:
                      description: Array of room IDs assigned to this date
                      type: array
                      items:
                        type: string
                      nullable: true
          nullable: true
    PostCreateAllotmentBlockResponse:
      type: object
      properties:
        startDate:
          description: Date on or after which each returned allotmentBlock applies
          type: string
          format: date
        endDate:
          description: Date on or before which each returned allotmentBlock applies
          type: string
          format: date
        success:
          description: Returns if the request could be completed
          type: boolean
        data:
          description: Allotment Blocks
          type: array
          items:
            type: object
            properties:
              propertyID:
                description: Property ID associated to the allotment block
                type: string
              allotmentBlockCode:
                description: Allotment block code
                type: string
              allotmentBlockStatus:
                description: Allotment block status
                type: string
              allotmentBlockName:
                description: Allotment block name
                type: string
              allotmentBlockId:
                description: Allotment block ID
                type: string
              rateType:
                description: Rate type for the allotment block
                type: string
              ratePlanId:
                description: Rate plan ID if applicable
                type: string
              allotmentType:
                description: the type of allotment block
                type: string
              groupId:
                description: Group profile ID associated to the allotment block
                type: string
              groupCode:
                description: Group profile code associated to the allotment block
                type: string
              eventId:
                description: Event ID associated to the allotment block
                type: string
              eventCode:
                description: Event code associated to the allotment block
                type: string
              isAutoRelease:
                description: If the allotment block is configured for auto-release
                type: boolean
              autoRelease:
                description: auto-release data if applicable
                type: object
                properties:
                  releaseType:
                    description: The type of auto-release
                    type: string
                    enum:
                    - all_dates
                    - by_day
                    - by_interval
                  releaseDays:
                    description: The number of days prior to the end of the allotment
                      block to begin releasing dates from the allotment block
                    type: integer
                  releaseTime:
                    description: The hour to being the auto-release in HH:00 format,
                      e.g. '00:00', '01:00'...
                    type: string
              allotmentIntervals:
                description: array of interval data by room type
                type: array
                items:
                  type: object
                  properties:
                    policyId:
                      description: Policy ID associated with the interval
                      type: string
                    roomTypeId:
                      description: Room type ID
                      type: string
                    startDate:
                      description: Interval start date
                      type: string
                      format: date
                    endDate:
                      description: Interval end date
                      type: string
                      format: date
                    availability:
                      description: Interval availability data by day in interval
                      type: object
                      properties:
                        date:
                          description: Day within interval
                          type: string
                          format: date
                        blockRemaining:
                          description: Number of units remaining for the room type
                            for this day
                          type: integer
                        blockAllotted:
                          description: 'Total number of units available for the room
                            type for this day. Note: this value is ignored for based_on_availability
                            allotment types, which always use full property availability.'
                          type: integer
                        blockConfirmed:
                          description: Number of units booked for the room type for
                            this day
                          type: integer
                        rate:
                          description: the price
                          type: string
                        guestPricing:
                          description: 'Guest pricing data if applicable. Note: the
                            number of results varies here based on the occupancy settings
                            and custom guest pricing for the room type.'
                          type: object
                          properties:
                            adult1:
                              description: Price for adult 1
                              type: string
                            adult2:
                              description: Price for adult 2
                              type: string
                            adult3:
                              description: Price for adult 3
                              type: string
                            child1:
                              description: Price for child 1
                              type: string
                            child2:
                              description: Price for child 2
                              type: string
                            child3:
                              description: Price for child 3
                              type: string
                        rooms:
                          description: Array of room IDs assigned to this date
                          type: array
                          items:
                            type: string
                    restrictions:
                      description: Interval restrictions if applicable
                      type: object
                      properties:
                        minLos:
                          description: Minimum length of stay requirement
                          type: integer
                        maxLos:
                          description: Maximum length of stay requirement
                          type: integer
                        cutOffDays:
                          description: How many days before arrival should the guests
                            be required to book
                          type: integer
                        lastMinuteBookingDays:
                          description: Hoe many days before the arrival guests are
                            allowed to book
                          type: integer
                        closedToArrival:
                          description: If the interval dates are closed for arrival
                          type: integer
                        closedToDeparture:
                          description: If the interval dates are closed for departure
                          type: integer
    PostDeleteAllotmentBlockRequest:
      type: object
      properties:
        allotmentBlockCode:
          description: The unique code of the allotment Block
          type: string
    PostDeleteAllotmentBlockResponse:
      type: object
      properties:
        success:
          description: Returns if the request could be completed
          type: boolean
    GetAllotmentBlocksResponse:
      type: object
      properties:
        success:
          description: Returns if the request could be completed
          type: boolean
        count:
          description: Number of allotment blocks returned
          type: integer
        total:
          description: Total number of allotment blocks
          type: integer
        data:
          description: Allotment Blocks
          type: array
          items:
            type: object
            properties:
              propertyID:
                description: Property ID associated to the allotment block
                type: string
              allotmentBlockCode:
                description: Allotment block code
                type: string
              allotmentBlockStatus:
                description: Allotment block status
                type: string
              allotmentBlockName:
                description: Allotment block name
                type: string
              allotmentBlockId:
                description: Allotment block ID
                type: string
              rateType:
                description: Rate type for the allotment block
                type: string
              ratePlanId:
                description: Rate plan ID if applicable
                type: string
              ratePlan:
                description: Rate plan name if applicable
                type: string
              allotmentType:
                description: the type of allotment block
                type: string
              groupId:
                description: Group profile ID associated to the allotment block
                type: string
              groupCode:
                description: Group profile code associated to the allotment block
                type: string
              eventId:
                description: Event ID associated to the allotment block
                type: string
              eventCode:
                description: Event code associated to the allotment block
                type: string
              bookingCodeUrl:
                description: URL for the booking engine with the allotment block code
                  pre-filled
                type: string
              isAutoRelease:
                description: If the allotment block is configured for auto-release
                type: boolean
              autoRelease:
                description: auto-release data if applicable
                type: array
                items:
                  type: object
                  properties:
                    releaseType:
                      description: The type of auto-release
                      type: string
                      enum:
                      - all_dates
                      - by_day
                      - by_interval
                    releaseDays:
                      description: The number of days prior to the end of the allotment
                        block to begin releasing dates from the allotment block
                      type: integer
                    releaseTime:
                      description: The hour to being the auto-release in HH:00 format,
                        e.g. '00:00', '01:00'...
                      type: string
              releaseStatus:
                description: Current status of the inventory release process
                type: string
              releaseScheduleStatus:
                description: Human-readable description of release schedule
                type: string
              releaseScheduleType:
                description: The release scheduling method for inventory release
                type: string
              releaseDate:
                description: Release date
                type: string
              reservationsCount:
                description: Number of linked reservations
                type: integer
              roomsHeld:
                description: Total rooms held
                type: integer
              roomsPickedUp:
                description: Rooms picked up
                type: integer
              roomsRemaining:
                description: Rooms remaining
                type: integer
              allotmentIntervals:
                description: array of interval data by room type
                type: array
                items:
                  type: object
                  properties:
                    policyId:
                      description: Policy ID associated with the interval
                      type: string
                    roomTypeId:
                      description: Room type ID
                      type: string
                    startDate:
                      description: Interval start date
                      type: string
                      format: date
                    endDate:
                      description: Interval end date
                      type: string
                      format: date
                    availability:
                      description: Interval availability data by day in interval
                      type: array
                      items:
                        type: object
                        properties:
                          date:
                            description: Day within interval
                            type: string
                            format: date
                          blockRemaining:
                            description: Number of units remaining for the room type
                              for this day
                            type: integer
                          blockAllotted:
                            description: 'Total number of units available for the
                              room type for this day. Note: this value is ignored
                              for based_on_availability allotment types, which always
                              use full property availability.'
                            type: integer
                          blockConfirmed:
                            description: Number of units booked for the room type
                              for this day
                            type: integer
                          rate:
                            description: the price
                            type: string
                          guestPricing:
                            description: 'Guest pricing data if applicable. Note:
                              the number of results varies here based on the occupancy
                              settings and custom guest pricing for the room type.'
                            type: object
                            properties:
                              adult1:
                                description: Price for adult 1
                                type: string
                              adult2:
                                description: Price for adult 2
                                type: string
                              adult3:
                                description: Price for adult 3
                                type: string
                              child1:
                                description: Price for child 1
                                type: string
                              child2:
                                description: Price for child 2
                                type: string
                              child3:
                                description: Price for child 3
                                type: string
                          splitBlockAllotted:
                            description: Number of split units available for the room
                              type this day
                            type: integer
                          splitBlockConfirmed:
                            description: Number of split units blocked for the room
                              type this day
                            type: integer
                    restrictions:
                      description: Interval restrictions if applicable
                      type: object
                      properties:
                        minLos:
                          description: Minimum length of stay requirement
                          type: integer
                        maxLos:
                          description: Maximum length of stay requirement
                          type: integer
                        cutOffDays:
                          description: How many days before arrival should guests
                            be required to book
                          type: integer
                        lastMinuteBookingDays:
                          description: How many days before the arrival guests are
                            allowed to book
                          type: integer
                        closedToArrival:
                          description: If the interval dates are closed for arrival
                          type: integer
                        closedToDeparture:
                          description: If the interval dates are closed for departure
                          type: integer
    PostUpdateAllotmentBlockRequest:
      type: object
      properties:
        allotmentBlockCode:
          description: The allotment block code identifying the allotment block to
            update
          type: string
        allotmentBlockName:
          description: The name for the allotment block
          type: string
          nullable: true
        allowOverbooking:
          description: If false, or omitted, then this update will fail if it would
            result in an overbooking.  If true, then the update will succeed even
            if it results in an overbooking.
          type: boolean
          nullable: true
        allotmentType:
          description: The allotment type
          type: string
          enum:
          - allotment
          - based_on_availability
          nullable: true
        allotmentBlockStatus:
          description: The status for the allotment block under
          type: string
          enum:
          - definite
          - tentative
          - lead
          - cancelled
          nullable: true
        autoRelease:
          description: 'Optional auto-release configuration NOTE: pass empty object
            to remove auto-release configuration'
          type: object
          properties:
            releaseType:
              description: The type of auto-release
              type: string
              enum:
              - all_dates
              - by_day
              - by_interval
              nullable: true
            releaseDays:
              description: The number of days prior to the end of the allotment block
                to begin releasing dates from the allotment block
              type: integer
              nullable: true
            releaseTime:
              description: The hour to being the auto-release in HH:00 format, e.g.
                '00:00', '01:00'...
              type: string
              nullable: true
          nullable: true
        allotmentIntervals:
          description: The day-based data for the allotment block.
          type: array
          items:
            type: object
            properties:
              policyId:
                description: Policy ID to associate with the interval
                type: string
                nullable: true
              roomTypeId:
                description: Room type id
                type: string
                nullable: true
              availability:
                description: Interval availability data by day in interval
                type: array
                items:
                  type: object
                  properties:
                    blockAllotted:
                      description: 'Total number of units available for the room type
                        for this day. Note: this value is ignored for based_on_availability
                        allotment types, which always use full property availability.'
                      type: integer
                      nullable: true
                    date:
                      description: the day within the interval (YYYY-MM-DD)
                      type: string
                      format: date
                      nullable: true
                    rate:
                      description: the price if applicable
                      type: string
                      nullable: true
                    guestPricing:
                      description: 'Guest pricing data if applicable. Note:'
                      type: object
                      properties:
                        adult1:
                          description: Price for adult 1
                          type: string
                          nullable: true
                        adult2:
                          description: Price for adult 2
                          type: string
                          nullable: true
                        adult3:
                          description: Price for adult 3
                          type: string
                          nullable: true
                        child1:
                          description: Price for child 1
                          type: string
                          nullable: true
                        child2:
                          description: Price for child 2
                          type: string
                          nullable: true
                        child3:
                          description: Price for child 3
                          type: string
                          nullable: true
                      nullable: true
                    restrictions:
                      description: Interval restrictions if applicable
                      type: object
                      properties:
                        minLos:
                          description: Minimum length of stay requirement
                          type: integer
                          nullable: true
                        maxLos:
                          description: Maximum length of stay requirement
                          type: integer
                          nullable: true
                        cutOffDays:
                          description: How many days before arrival should guests
                            be required to book
                          type: integer
                          nullable: true
                        lastMinuteBookingDays:
                          description: How many days before the arrival guests are
                            allowed to book
                          type: integer
                          nullable: true
                        closedToArrival:
                          description: If the interval dates are closed for arrival
                          type: integer
                          nullable: true
                        closedToDeparture:
                          description: If the interval dates are closed for departure
                          type: integer
                          nullable: true
                      nullable: true
                    rooms:
                      description: Array of room IDs assigned to this date the number
                        of applicable keys varies here based on the occupancy settings
                        for the room type.
                      type: array
                      items:
                        type: string
                      nullable: true
                nullable: true
          nullable: true
    PostUpdateAllotmentBlockResponse:
      type: object
      properties:
        success:
          description: Returns if the request could be completed
          type: boolean
        data:
          description: Allotment Blocks
          type: array
          items:
            type: object
            properties:
              propertyID:
                description: Property ID associated to the allotment block
                type: string
              allotmentBlockCode:
                description: Allotment block code
                type: string
              allotmentBlockStatus:
                description: Allotment block status
                type: string
              allotmentBlockName:
                description: Allotment block name
                type: string
              allotmentBlockId:
                description: Allotment block ID
                type: string
              rateType:
                description: Rate type for the allotment block
                type: string
              ratePlanId:
                description: Rate plan ID if applicable
                type: string
              allotmentType:
                description: the type of allotment block
                type: string
              groupId:
                description: Group profile ID associated to the allotment block
                type: string
              groupCode:
                description: Group profile code associated to the allotment block
                type: string
              eventId:
                description: Event ID associated to the allotment block
                type: string
              eventCode:
                description: Event code associated to the allotment block
                type: string
              isAutoRelease:
                description: If the allotment block is configured for auto-release
                type: boolean
              autoRelease:
                description: auto-release data if applicable
                type: object
                properties:
                  releaseType:
                    description: The type of auto-release
                    type: string
                    enum:
                    - all_dates
                    - by_day
                    - by_interval
                  releaseDays:
                    description: The number of days prior to the end of the allotment
                      block to begin releasing dates from the allotment block
                    type: integer
                  releaseTime:
                    description: The hour to being the auto-release in HH:00 format,
                      e.g. '00:00', '01:00'...
                    type: string
              allotmentIntervals:
                description: array of interval data by room type
                type: array
                items:
                  type: object
                  properties:
                    policyId:
                      description: Policy ID associated with the interval
                      type: string
                    roomTypeId:
                      description: Room type ID
                      type: string
                    availability:
                      description: Interval availability data by day in interval
                      type: object
                      properties:
                        date:
                          description: Day within interval
                          type: string
                          format: date
                        blockRemaining:
                          description: Number of units remaining for the room type
                            for this day
                          type: integer
                        blockAllotted:
                          description: 'Total number of units available for the room
                            type for this day. Note: this value is ignored for based_on_availability
                            allotment types, which always use full property availability.'
                          type: integer
                        blockConfirmed:
                          description: Number of units booked for the room type for
                            this day
                          type: integer
                        rate:
                          description: the price
                          type: string
                        guestPricing:
                          description: 'Guest pricing data if applicable. Note: the
                            number of results varies here based on the occupancy settings
                            and custom guest pricing for the room type.'
                          type: object
                          properties:
                            adult1:
                              description: Price for adult 1
                              type: string
                            adult2:
                              description: Price for adult 2
                              type: string
                            adult3:
                              description: Price for adult 3
                              type: string
                            child1:
                              description: Price for child 1
                              type: string
                            child2:
                              description: Price for child 2
                              type: string
                            child3:
                              description: Price for child 3
                              type: string
                        rooms:
                          description: Array of room IDs assigned to this date
                          type: array
                          items:
                            type: string
                    restrictions:
                      description: Interval restrictions if applicable
                      type: object
                      properties:
                        minLos:
                          description: Minimum length of stay requirement
                          type: integer
                        maxLos:
                          description: Maximum length of stay requirement
                          type: integer
                        cutOffDays:
                          description: How many days before arrival should guests
                            be required to book
                          type: integer
                        lastMinuteBookingDays:
                          description: Hoe many days before the arrival guests are
                            allowed to book
                          type: integer
                        closedToArrival:
                          description: If the interval dates are closed for arrival
                          type: integer
                        closedToDeparture:
                          description: If the interval dates are closed for departure
                          type: integer
    PostCreateAllotmentBlockNotesRequest:
      type: object
      properties:
        propertyID:
          description: Property ID
          type: string
        allotmentBlockCode:
          description: Allotment Block Code
          type: string
        text:
          description: Note's text
          type: string
    PostCreateAllotmentBlockNotesResponse:
      type: object
      properties:
        success:
          description: Returns if the request could be completed
          type: boolean
        data:
          description: The created note
          type: object
          properties:
            id:
              description: Note ID
              type: string
            text:
              description: Note contents
              type: string
            createdBy:
              description: User Name
              type: string
            createdAt:
              description: 'Creation datetime (format: Y-m-d H:i:s)'
              type: string
              format: date-time
            updatedAt:
              description: 'Last modification datetime  (format: Y-m-d H:i:s)'
              type: string
              format: date-time
            archivedAt:
              description: 'Archival datetime (format: Y-m-d H:i:s)'
              type: string
              format: date-time
              nullable: true
            status:
              description: Note status
              type: string
    GetListAllotmentBlockNotesResponse:
      type: object
      properties:
        success:
          description: Returns if the request could be completed
          type: boolean
        data:
          description: List of notes
          type: array
          items:
            type: object
            properties:
              id:
                description: Note ID
                type: string
              message:
                description: Note contents
                type: string
              createdBy:
                description: User Name
                type: string
              createdAt:
                description: 'Creation datetime (format: Y-m-d H:i:s)'
                type: string
                format: date-time
              updatedAt:
                description: 'Last modification datetime (format: Y-m-d H:i:s)'
                type: string
                format: date-time
              archivedAt:
                description: 'Archival datetime (format: Y-m-d H:i:s)'
                type: string
                format: date-time
                nullable: true
              status:
                description: Note status
                type: string
        pageSize:
          description: Number of Notes per Page
          type: integer
        pageNumber:
          description: Current page
          type: integer
        total:
          description: Total number of Notes
          type: integer
    PostUpdateAllotmentBlockNotesRequest:
      type: object
      properties:
        propertyID:
          description: Property ID
          type: string
        allotmentBlockCode:
          description: Allotment Block Code
          type: string
        noteID:
          description: Note's ID
          type: string
        text:
          description: Note's text (null for no change)
          type: string
          nullable: true
        status:
          description: Note status
          type: string
          enum:
          - active
          - archived
          nullable: true
    PostUpdateAllotmentBlockNotesResponse:
      type: object
      properties:
        success:
          description: Returns if the request could be completed
          type: boolean
        data:
          description: The created note
          type: object
          properties:
            id:
              description: Note ID
              type: string
            text:
              description: Note contents
              type: string
            createdBy:
              description: User Name
              type: string
            createdAt:
              description: 'Creation datetime (format: Y-m-d H:i:s)'
              type: string
              format: date-time
            updatedAt:
              description: 'Last modification datetime (format: Y-m-d H:i:s)'
              type: string
              format: date-time
            archivedAt:
              description: 'Archival datetime (format: Y-m-d H:i:s)'
              type: string
              format: date-time
              nullable: true
            status:
              description: Note status
              type: boolean
    PostDeleteAppPropertySettingsRequest:
      type: object
      properties:
        propertyID:
          description: Key
          type: string
        key:
          description: Key
          type: string
    PostDeleteAppPropertySettingsResponse:
      type: object
      properties:
        success:
          description: Success
          type: boolean
        message:
          description: Response message
          type: string
    GetAppPropertySettingsResponse:
      type: object
      properties:
        success:
          description: Success
          type: boolean
        data:
          description: Data
          oneOf:
          - type: object
            properties:
              id:
                description: ID
                type: string
              key:
                description: Key
                type: string
              value:
                description: Value
                type: string
          - type: array
            items:
              type: object
              properties:
                id:
                  description: ID
                  type: string
                key:
                  description: Key
                  type: string
                value:
                  description: Value
                  type: string
    PostAppPropertySettingRequest:
      type: object
      properties:
        propertyID:
          description: Property ID
          type: string
        appClientID:
          description: Application Client ID
          type: string
        key:
          description: Key
          type: string
        value:
          description: Value
          type: string
    PostAppPropertySettingResponse:
      type: object
      properties:
        success:
          description: Success
          type: boolean
        data:
          description: Data
          type: object
          properties:
            id:
              description: ID
              type: string
            key:
              description: Key
              type: string
            value:
              description: Value
              type: string
    PostPutAppPropertySettingsRequest:
      type: object
      properties:
        propertyID:
          description: Property ID
          type: string
        key:
          description: Key
          type: string
        value:
          description: Value
          type: string
    PostPutAppPropertySettingsResponse:
      type: object
      properties:
        success:
          description: Success
          type: boolean
        data:
          description: Data
          type: object
          properties:
            id:
              description: ID
              type: string
            key:
              description: Key
              type: string
            value:
              description: Value
              type: string
    GetCurrencySettingsResponse:
      type: object
      properties:
        success:
          description: Returns if the request could be completed
          type: boolean
        data:
          description: Currency Settings
          type: object
          properties:
            default:
              description: Default Currency ISO CODE
              type: string
            acceptable:
              description: Acceptable Currency ISO CODEs
              type: array
              items:
                type: string
            format:
              description: Currency Format
              type: object
              properties:
                decimal:
                  description: Decimal separator
                  type: string
                thousand:
                  description: Thousand separator
                  type: string
            rates:
              description: Currency rates
              type: object
              properties:
                fixed:
                  description: Fixed currency rates (configured by the property)
                  type: array
                  items:
                    type: object
                    properties:
                      currency:
                        description: Currency ISO CODE
                        type: string
                        nullable: true
                      rate:
                        description: Currency rate
                        type: number
                        nullable: true
        message:
          description: To be used in case any error occurs (if success = false). If
            success = true, it does not exist.
          type: string
          nullable: true
    GetCustomFieldsResponse:
      type: object
      properties:
        success:
          description: Returns if the request could be completed
          type: boolean
        data:
          description: Field details
          type: array
          items:
            type: object
            properties:
              propertyID:
                description: Unique hotel identifier
                type: string
              name:
                description: Field name
                type: string
              shortcode:
                description: Internal reference and is used for integration purposes
                  such as custom links and the API
                type: string
              applyTo:
                description: Where put this field in reservation or guest section
                  of the booking.
                type: string
                enum:
                - reservation
                - guest
              required:
                description: Specify whether this field is required to be filled out.
                type: boolean
              isPersonal:
                description: Specifies if the contents of this field may contain personal
                  information (GDPR).
                type: boolean
              maxCharacters:
                description: Maximum number of characters allowed to be entered in
                  this field.
                type: integer
              type:
                description: The field's input type.
                type: string
                enum:
                - input
                - text
              displayed:
                description: ¹ Specify where this custom field to show up.
                type: array
                items:
                  type: string
                  enum:
                  - reservation
                  - booking
                  - card
        message:
          description: To be used in case any error occurs (if success = false). If
            success = true, it does not exist.
          type: string
          nullable: true
    PostCustomFieldRequest:
      type: object
      properties:
        propertyID:
          description: Property ID
          type: string
          nullable: true
        name:
          description: Field name
          type: string
        shortcode:
          description: Internal reference and is used for integration purposes such
            as custom links and the API
          type: string
        applyTo:
          description: Where put this field in reservation or guest section of the
            booking. reservation - applies the custom field to reservations in myfrontdesk
            guest - applies the custom field to guest interface in myfrontdesk
          type: string
          enum:
          - reservation
          - guest
          nullable: true
          default: reservation
        required:
          description: Specify whether this field is required to be filled out.
          type: boolean
          nullable: true
          default: false
        maxCharacters:
          description: Maximum number of characters allowed to be entered in this
            field.
          type: integer
          nullable: true
          default: 40
        type:
          description: The field's input type.
          type: string
          enum:
          - input
          - text
          nullable: true
          default: input
        displayed:
          description: ¹ Specify where this custom field to show up. reservation -
            applies the custom field to reservation interface in myfrontdesk booking
            - applies the custom field to the booking engine card - applies the custom
            field to Registration cards
          type: array
          items:
            type: string
            enum:
            - reservation
            - booking
            - card
          nullable: true
        isPersonal:
          description: Specifies if the contents of this field may contain personal
            information. User's personal information may be removed upon request according
            to GDPR rules.
          type: boolean
    PostCustomFieldResponse:
      type: object
      properties:
        success:
          description: Returns if the request could be completed
          type: boolean
        data:
          description: Field details
          type: object
          properties:
            fieldID:
              description: Field name
              type: string
            name:
              description: Field name
              type: string
            shortcode:
              description: Internal reference and is used for integration purposes
                such as custom links and the API
              type: string
        message:
          description: To be used in case any error occurs (if success = false). If
            success = true, it does not exist.
          type: string
          nullable: true
    GetDashboardResponse:
      type: object
      properties:
        success:
          description: Returns if the request could be completed
          type: boolean
          default: true
        data:
          description: Data to be displayed on dashboard
          type: object
          properties:
            roomsOccupied:
              description: Number of rooms occupied at the moment
              type: integer
            percentageOccupied:
              description: Percentage of rooms occupied (rooms occupied/rooms total)
                for the current day
              type: integer
            arrivals:
              description: Number of arrivals (check-ins) expected for the current
                day
              type: integer
            departures:
              description: Number of departures (check-outs) expected for the current
                day
              type: integer
            inHouse:
              description: Number of rooms occupied, and not expected to have a check-out
                for the current day
              type: integer
        message:
          description: To be used in case any error occurs (if success = false). If
            success = true, it does not exist.
          type: string
          nullable: true
    GetEmailTemplatesResponse:
      type: object
      properties:
        success:
          description: Returns if the request could be completed
          type: boolean
        data:
          description: List of existing email templates
          type: array
          items:
            type: object
            properties:
              emailTemplateID:
                description: ID of the email template
                type: string
              name:
                description: Name
                type: string
              subject:
                description: Subject
                type: string
              isActive:
                description: True if email template is active; false if not
                type: boolean
    PostEmailTemplateRequest:
      type: object
      properties:
        propertyID:
          description: Property ID
          type: string
          nullable: true
        emailType:
          description: 'Type of the email template: Marketing or Non-Marketing. Only
            applicable to GDPR-compliant properties.'
          type: string
          enum:
          - nonMarketing
          - marketing
          default: nonMarketing
        name:
          description: Template name
          type: string
        from:
          description: Email address from which the email message may be sent
          type: string
        fromName:
          description: from which the email message may be sent. If empty email will
            be used
          type: string
          nullable: true
        subject:
          description: Email message subject. The subject key should be a language
            code (IETF). A few examples are listed below.
          type: object
          properties:
            en:
              description: Email message subject in English
              type: string
              nullable: true
            es:
              description: Email message subject in Spanish
              type: string
              nullable: true
            ru:
              description: Email message subject in Russian
              type: string
              nullable: true
            pt-br:
              description: Email message subject in Portuguese
              type: string
              nullable: true
        body:
          description: Email message body. The body key should be a language code
            (IETF). A few examples are listed below.
          type: object
          properties:
            en:
              description: Email message body in English
              type: string
              nullable: true
            es:
              description: Email message body in Spanish
              type: string
              nullable: true
            ru:
              description: Email message body in Russian
              type: string
              nullable: true
            pt-br:
              description: Email message body in Portuguese
              type: string
              nullable: true
        replyTo:
          description: Email address to which the email message may be replied. If
            empty, the value on from parameter will be used.
          type: string
          nullable: true
        replyToName:
          description: Name to which the email message may be replied. If empty, email
            will be used.
          type: string
          nullable: true
        autofillAllLanguages:
          description: If set, all languages will be set with the value for the property
            language. If not informed and only one language is sent, it's considered
            true, if more than one language is sent, it'll be considered false.
          type: boolean
          nullable: true
        cc:
          description: Email address to which the email message may be sent as a Carbon
            Copy
          type: string
          nullable: true
        bcc:
          description: Email address to which the email message may be sent as a Blind
            Carbon Copy
          type: string
          nullable: true
    PostEmailTemplateResponse:
      type: object
      properties:
        success:
          description: Returns if the request could be completed
          type: boolean
        emailTemplateID:
          description: The ID of the created email template. Only present if success
            = true
          type: string
          nullable: true
        message:
          description: To be used in case any error occurs (if success = false). If
            success = true, it does not exist.
          type: string
          nullable: true
    GetEmailScheduleResponse:
      type: object
      properties:
        success:
          description: Returns if the request could be completed
          type: boolean
        data:
          description: List of existing email schedules
          type: array
          items:
            type: object
            properties:
              emailScheduleID:
                description: ID of the email schedule
                type: string
              name:
                description: Name of the email schedule
                type: string
              emailTemplateID:
                description: ID of the email template used in this schedule
                type: string
              templateName:
                description: Name of the email template used in this schedule
                type: string
              isActive:
                description: True if email template is active; false if not
                type: boolean
    PostEmailScheduleRequest:
      type: object
      properties:
        propertyID:
          description: Property ID
          type: string
          nullable: true
        emailTemplateID:
          description: ID of the email template that will be used when sending an
            email.
          type: string
        scheduleName:
          description: User friendly schedule name that appears in the list. Should
            contain app name.
          type: string
        schedule:
          description: ''
          type: object
          properties:
            reservationStatusChange:
              description: ''
              type: object
              properties:
                status:
                  description: Specify which reservation status change triggers sending
                    the email
                  type: string
                  enum:
                  - confirmed
                  - not_confirmed
                  - canceled
                  - checked_in
                  - checked_out
                  - no_show
            reservationEvent:
              description: ''
              type: object
              properties:
                event:
                  description: Specify event that triggers email sending
                  type: string
                  enum:
                  - after_booking
                  - after_check_out
                  - after_check_in
                  - before_check_out
                  - before_check_in
                days:
                  description: Number of days prior to or after the event
                  type: integer
                time:
                  description: Time of the day
                  type: string
                  format: time
    PostEmailScheduleResponse:
      type: object
      properties:
        success:
          description: Returns if the request could be completed
          type: boolean
        emailScheduleID:
          description: The ID of the created email schedule. Only present if success
            = true
          type: string
          nullable: true
        message:
          description: To be used in case any error occurs (if success = false). If
            success = true, it does not exist.
          type: string
          nullable: true
    GetGroupNotesResponse:
      type: object
      properties:
        success:
          description: Success
          type: boolean
        code:
          description: HTTP status code
          type: integer
        data:
          description: Data
          type: object
          properties:
            id:
              description: ID for the note
              type: string
            group_profile_id:
              description: Group profile ID
              type: string
            text:
              description: Note text
              type: string
            created_by:
              description: Created by
              type: string
            created_at:
              description: Created at
              type: string
            updated_at:
              description: Updated at
              type: string
            archived:
              description: Note archived
              type: boolean
            archived_at:
              description: Note archived at
              type: string
    GetGroupsResponse:
      type: object
      properties:
        success:
          description: Success
          type: boolean
        data:
          description: Data
          type: array
          items:
            type: object
            properties:
              groupCode:
                description: Unique ID for a group
                type: string
              name:
                description: The name of the group
                type: string
              type:
                description: The type of the group
                type: string
                enum:
                - group
                - company
                - travel_agent
                - wholesaler
              status:
                description: Group status
                type: string
                enum:
                - open
                - closed
              created:
                description: Group created time
                type: string
                format: date-time
              sourceID:
                description: The third-party source ID for this group, can be empty
                type: string
              sourceName:
                description: The third-party source name for this group, can be empty
                type: string
              address1:
                description: Address
                type: string
                nullable: true
              address2:
                description: Address2
                type: string
                nullable: true
              city:
                description: City
                type: string
                nullable: true
              zip:
                description: Zip
                type: string
                nullable: true
              state:
                description: State
                type: string
                nullable: true
              countryCode:
                description: Country code
                type: string
                nullable: true
              commissionType:
                description: Commission type
                type: string
                enum:
                - fixed
                - percent
                nullable: true
              taxDocumentType:
                description: Tax document type
                type: string
                nullable: true
              taxIdNumber:
                description: Tax ID number
                type: string
                nullable: true
              legalName:
                description: Legal name
                type: string
                nullable: true
              contacts:
                description: Group contacts
                type: array
                items:
                  type: object
                  properties:
                    id:
                      description: Unique ID for a contact
                      type: string
                    group_profile_id:
                      description: The group profile ID this contact belongs to
                      type: string
                    primary:
                      description: Whether this is the primary contact
                      type: boolean
                    anonymized:
                      description: Whether the contact is anonymized
                      type: boolean
                    first_name:
                      description: Contact first name
                      type: string
                    last_name:
                      description: Contact last name
                      type: string
                    role:
                      description: Contact role
                      type: string
                      nullable: true
                    status:
                      description: Contact status
                      type: string
                      enum:
                      - active
                    created_at:
                      description: Contact creation time
                      type: string
                      format: date-time
                    updated_at:
                      description: Contact last update time
                      type: string
                      format: date-time
                    emails:
                      description: Contact email addresses
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            description: Email type
                            type: string
                            enum:
                            - personal
                            - business
                          value:
                            description: Email address value
                            type: string
                    phones:
                      description: Contact phone numbers
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            description: Phone type
                            type: string
                            enum:
                            - home
                            - work
                            - cell_phone
                            - fax
                          value:
                            description: Phone number value
                            type: string
                      nullable: true
                    is_billing_recipient:
                      description: Whether this contact is a billing recipient
                      type: boolean
                    tax_id_number:
                      description: Contact tax ID number
                      type: string
                      nullable: true
                    tax_document_type:
                      description: Contact tax document type
                      type: string
                      nullable: true
                    legal_name:
                      description: Contact legal name
                      type: string
                      nullable: true
                    address_1:
                      description: Contact address line 1
                      type: string
                      nullable: true
                    address_2:
                      description: Contact address line 2
                      type: string
                      nullable: true
                    city:
                      description: Contact city
                      type: string
                      nullable: true
                    state:
                      description: Contact state
                      type: string
                      nullable: true
                    country_code:
                      description: Contact country code
                      type: string
                      nullable: true
                    zip:
                      description: Contact zip code
                      type: string
                      nullable: true
                nullable: true
    PostPatchGroupRequest:
      type: object
      properties:
        groupCode:
          description: code for a group
          type: string
        propertyID:
          description: Property ID
          type: string
        name:
          description: Name for a group
          type: string
        type:
          description: The type of group
          type: string
          enum:
          - group
          - company
          - travel_agent
          - wholesaler
        status:
          description: Group status
          type: string
          enum:
          - open
          - closed
        sourceID:
          description: Source ID for a group
          type: string
        address1:
          description: Address line 1 for a group
          type: string
        address2:
          description: Address line 2 for a group
          type: string
        city:
          description: City for a group
          type: string
        zip:
          description: Zip for a group
          type: string
        state:
          description: State for a group
          type: string
    PostPatchGroupResponse:
      type: object
      properties:
        success:
          description: Success
          type: boolean
        data:
          description: Data
          type: array
          items:
            type: object
            properties:
              groupCode:
                description: Unique ID for a group
                type: string
              name:
                description: The name of the group
                type: string
              type:
                description: The type of the group
                type: string
                enum:
                - group
                - company
                - travel_agent
                - wholesaler
              status:
                description: Group status
                type: string
                enum:
                - open
                - closed
              created:
                description: Group created time
                type: string
                format: date-time
              sourceID:
                description: The third-party source ID for this group, can be null
                type: string
              address1:
                description: Address
                type: string
              address2:
                description: Address2
                type: string
              city:
                description: City
                type: string
              zip:
                description: Zip
                type: string
              state:
                description: State
                type: string
              id:
                description: ID
                type: string
              property_id:
                description: Property Id
                type: string
    PostGroupNoteRequest:
      type: object
      properties:
        propertyID:
          description: Property ID
          type: string
        groupCode:
          description: Group code
          type: string
        groupNote:
          description: Group note
          type: string
    PostGroupNoteResponse:
      type: object
      properties:
        success:
          description: Success
          type: boolean
        code:
          description: code HTTP status code
          type: integer
        data:
          description: Data
          type: array
          items:
            type: object
            properties:
              id:
                description: ID for the note
                type: string
              group_profile_id:
                description: Group profile ID
                type: string
              text:
                description: Note text
                type: string
              created_by:
                description: Created by
                type: string
              created_at:
                description: Created at
                type: string
              updated_at:
                description: Updated at
                type: string
              archived:
                description: Note archived
                type: string
              archived_at:
                description: Note archived at
                type: string
    PostPutGroupRequest:
      type: object
      properties:
        propertyID:
          description: Property ID
          type: string
        name:
          description: Name for a group
          type: string
        type:
          description: The type of group
          type: string
          enum:
          - group
          - company
          - travel_agent
          - wholesaler
        status:
          description: Group status
          type: string
          enum:
          - open
          - closed
        commissionType:
          description: Commission Type
          type: string
          enum:
          - fixed
          - percent
        sourceID:
          description: Source ID for a group
          type: string
        address1:
          description: Address line 1 for a group
          type: string
          nullable: true
        address2:
          description: Address line 2 for a group
          type: string
          nullable: true
        city:
          description: City for a group
          type: string
          nullable: true
        zip:
          description: Zip for a group
          type: string
          nullable: true
        state:
          description: State for a group
          type: string
          nullable: true
    PostPutGroupResponse:
      type: object
      properties:
        success:
          description: Success
          type: boolean
        data:
          description: Data
          type: array
          items:
            type: object
            properties:
              groupCode:
                description: Unique ID for a group
                type: string
              name:
                description: The name of the group
                type: string
              type:
                description: The type of the group
                type: string
                enum:
                - group
                - company
                - travel_agent
                - wholesaler
              status:
                description: Group status
                type: string
                enum:
                - open
                - closed
              created:
                description: Group created time
                type: string
                format: date-time
              sourceID:
                description: The third-party source ID for this group, can be null
                type: string
              address1:
                description: Address
                type: string
              address2:
                description: Address2
                type: string
              city:
                description: City
                type: string
              zip:
                description: Zip
                type: string
              state:
                description: State
                type: string
              id:
                description: ID
                type: string
              property_id:
                description: Property Id
                type: string
    GetGuestResponse:
      type: object
      properties:
        success:
          description: Returns if the request could be completed
          type: boolean
        data:
          description: Details for the guest queried
          type: object
          properties:
            firstName:
              description: First Name
              type: string
            lastName:
              description: Last Name
              type: string
            gender:
              description: Gender
              type: string
              enum:
              - M
              - F
              - N/A
            email:
              description: Email
              type: string
            phone:
              description: Phone number
              type: string
            cellPhone:
              description: Cell phone number
              type: string
            country:
              description: Country (2 digit code)
              type: string
            address:
              description: Address
              type: string
            address2:
              description: Address 2
              type: string
            city:
              description: City
              type: string
            zip:
              description: Zip
              type: string
            state:
              description: State
              type: string
            birthDate:
              description: Birth date
              oneOf:
              - type: string
                format: date
              - type: string
            documentType:
              description: Document Type
              type: string
            documentNumber:
              description: Document number
              type: string
            documentIssueDate:
              description: Document Issue Date, can be null
              oneOf:
              - type: string
                format: date
              - type: string
            documentIssuingCountry:
              description: Document Issuing Country (2-digits code)
              type: string
            documentExpirationDate:
              description: Document Expiration Date, can be null
              oneOf:
              - type: string
                format: date
              - type: string
            customFields:
              description: ''
              type: array
              items:
                type: object
                properties:
                  customFieldName:
                    description: ''
                    type: string
                    nullable: true
                  customFieldValue:
                    description: ''
                    type: string
                    nullable: true
            guestRequirements:
              description: Guest requirements data. Only included if `includeGuestRequirements=true`.
              type: object
              nullable: true
            specialRequests:
              description: Special requests made by the guest at the time of the booking
              type: string
            taxID:
              description: Tax ID
              type: string
              nullable: true
            companyTaxID:
              description: Company tax ID
              type: string
              nullable: true
            companyName:
              description: Company name
              type: string
              nullable: true
            isAnonymized:
              description: Flag indicating the guest data was removed upon request
              type: boolean
            guestOptIn:
              description: If guest has opted-in to marketing communication or not
              type: boolean
            isMerged:
              description: Flag indicating that guest was merged
              type: boolean
            newGuestID:
              description: Merged guest ID
              type: string
    GetGuestListResponse:
      type: object
      properties:
        success:
          description: Returns if the request could be completed
          type: boolean
        data:
          description: Details for the guest linked to the property (key is the Guest
            ID)
          type: object
          additionalProperties:
            type: object
            properties:
              reservationID:
                description: Reservation's unique identifier
                type: string
              guestName:
                description: Guest Name
                type: string
              guestEmail:
                description: Guest Email
                type: string
              guestID:
                description: Guest ID
                type: string
              dateCreated:
                description: Reservation creation date
                type: string
                format: date-time
              dateModified:
                description: Reservation modification date
                type: string
                format: date-time
              isMainGuest:
                description: If the guest is the main guest of its reservation
                type: boolean
              isAnonymized:
                description: Flag indicating the guest data was removed upon request
                type: boolean
              guestFirstName:
                description: Guest First Name
                type: string
                nullable: true
              guestLastName:
                description: Guest Last Name
                type: string
                nullable: true
              guestGender:
                description: Guest Gender
                type: string
                enum:
                - M
                - F
                - N/A
                nullable: true
              guestPhone:
                description: Guest Phone
                type: string
                nullable: true
              guestCellPhone:
                description: Guest Cell Phone
                type: string
                nullable: true
              guestAddress1:
                description: Guest Address (line 1)
                type: string
                nullable: true
              guestAddress2:
                description: Guest Address (line 2)
                type: string
                nullable: true
              guestCity:
                description: Guest City
                type: string
                nullable: true
              guestState:
                description: Guest State
                type: string
                nullable: true
              guestCountry:
                description: Guest Country
                type: string
                nullable: true
              guestZip:
                description: Guest Zip code
                type: string
                nullable: true
              guestBirthDate:
                description: Guest Birth Date
                type: string
                format: date
                nullable: true
              guestDocumentType:
                description: Guest Document Type
                type: string
                nullable: true
              guestDocumentNumber:
                description: Guest Document Number
                type: string
                nullable: true
              guestDocumentIssueDate:
                description: Guest Document Issue Date
                type: string
                format: date
                nullable: true
              guestDocumentIssuingCountry:
                description: Guest Document Issuing Country
                type: string
                nullable: true
              guestDocumentExpirationDate:
                description: Guest Document Expiration Date
                type: string
                format: date
                nullable: true
              taxID:
                description: Tax ID
                type: string
                nullable: true
              companyTaxID:
                description: Company tax ID
                type: string
                nullable: true
              companyName:
                description: Company name
                type: string
                nullable: true
              guestOptIn:
                description: If guest has opted-in to marketing communication or not
                type: boolean
                nullable: true
              guestRequirements:
                description: Guest requirements data. Only included if `includeGuestRequirements=true`.
                type: object
                nullable: true
              guestNotes:
                description: Guest Notes
                type: array
                items:
                  type: object
                  properties:
                    ID:
                      description: Guest Notes ID
                      type: string
                      nullable: true
                    note:
                      description: Guest Notes "note"
                      type: string
                      nullable: true
                nullable: true
              status:
                description: Reservation status<br /> in_progress - Reservation is
                  pending confirmation<br /> confirmed - Reservation is confirmed<br
                  /> not_confirmed - Reservation not passed confirmation<br /> canceled
                  - Reservation is canceled<br /> checked_in - Guest is in hotel<br
                  /> checked_out - Guest already left hotel<br /> no_show - Guest
                  didn't showed up on check-in date
                type: string
                enum:
                - in_progress
                - confirmed
                - not_confirmed
                - canceled
                - checked_in
                - checked_out
                - no_show
                nullable: true
              isMerged:
                description: Flag indicating that guest was merged
                type: boolean
              newGuestID:
                description: Merged guest ID
                type: string
        count:
          description: Number of results returned
          type: integer
        total:
          description: Total number of results
          type: integer
        message:
          description: To be used in case any error occurs (if success = false). If
            success = true, it does not exist.
          type: string
          nullable: true
    GetGuestsModifiedResponse:
      type: object
      properties:
        success:
          description: Returns if the request could be completed
          type: boolean
        data:
          description: Details for the guest linked to the property
          type: array
          items:
            type: object
            properties:
              guestID:
                description: Guest ID
                type: string
              reservationID:
                description: Reservation's unique identifier
                type: string
              roomTypeID:
                description: Room Type ID that the guest is assigned
                type: string
              roomID:
                description: Room ID that the guest is assigned
                type: string
              roomName:
                description: Name of the room where guest is assigned
                type: string
              guestFirstName:
                description: First Name
                type: string
              guestLastName:
                description: Last Name
                type: string
              guestGender:
                description: ''
                type: string
                enum:
                - M
                - F
                - N/A
              guestEmail:
                description: Email Address
                type: string
              guestPhone:
                description: Phone Number
                type: string
              guestCellPhone:
                description: Cell Phone Number
                type: string
              guestAddress1:
                description: Address
                type: string
              guestAddress2:
                description: Address line 2
                type: string
              guestCity:
                description: Address city
                type: string
              guestState:
                description: Address state
                type: string
              guestCountry:
                description: Address country
                type: string
              guestZip:
                description: Address zip code
                type: string
              guestBirthDate:
                description: Guests Date of Birth
                type: string
                format: date
              guestDocumentType:
                description: Document Type
                type: string
              guestDocumentNumber:
                description: Document Number
                type: string
              guestDocumentIssueDate:
                description: Document Issue Date
                type: string
                format: date
              guestDocumentIssuingCountry:
                description: Document Issuing Country
                type: string
              guestDocumentExpirationDate:
                description: Document Expiration Date
                type: string
                format: date
              startDate:
                description: Check-in date
                type: string
[...]
